<div class="header d-flex justify-content-between">
  <div class="h1">All Books</div>
  <button class="btn btn-info" (click)="addBook()">
    <i class="ti-plus"></i>
  </button>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Published Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book._id }}</td>
      <td>
        <a [routerLink]="['/books', book._id]">{{ book.name }}</a>
      </td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publishedDate }}</td>
      <td>
        <button class="btn btn-primary mr-2" (click)="editBook(book)">
          <i class="ti-pencil"></i>
        </button>
        <button class="btn btn-danger" (click)="removeBook(book)">
          <i class="ti-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
